---
Title: Cake.Npm.Module
NoSidebar: true
NoContainer: true
NoGutter: true
---
<script>
if(!document.location.href.endsWith("/")){
  document.location.href = document.location.href + "/"; // or else the relative hyperlinks won't work...
}
</script>

<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Cake.Npm.Module</h1>
        <p>
            Cake.Npm.Module is a Module for Cake, which extends it with a new <code>IPackageInstaller</code> for installing tools using the node.js package manager (<code>npm</code>).<br/>
        </p>
        <a class="btn btn-primary btn-lg" href="doc" role="button">Learn more</a>
    </div>
</div>

<div class="container text-center">
    <div class="row slideanim">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-heart logo-small"></span>
            <h3 class="no-anchor">Open-Source</h3>
            <p>
                Cake.Npm.Module is free to use, improve, contribute and distribute.
                Source code is available on <a href="https://github.com/cake-contrib/Cake.Npm.Module">GitHub</a> under MIT license.
            </p>
        </div>
    </div>
</div>
